.permission-list,.role-list,.user-list{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.fa-btn {
    margin-right: 6px;
}

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}

.fa-green::before{
    color: #2d9826;
}

.fa-red::before{
    color: #cf3829;
}

.title .fa{
    margin-right: .3em;
    margin-left: .1em;
}

.title small .fa{
    margin-left: 1em;
}